<div id="container" style="width:100%; height:400px;">
{#
    <ul>
        {% for r in data %}
        <li>{{ r.value }}</li>
        {% endfor %}
    </ul>
#}

<p>type = {{ options.type }}</p>
<p>title =  {{ view.title }}</p>
<p>data_fields = {{ options.data_fields }}</p>
<p>data_fields_key = {{ options.data_fields_key }}</p>
<p>label_field = {{ options.label_field }}</p>
  <p>label_field value = {{ options.label_field.value }}</p>
<p>label_field_key = {{ options.label_field_key }}</p>
<p>axis = {{ options.axis }}</p>
<p>yaxis = {{ options.yaxis }}</p>

  <p>row attributes = {{ row.field_number }}</p>
  <p>row attributes = {{ row.field_number.value }}</p>


</div>

